@model List<Promote.website.Models.HomePage>
@{
    Layout = "_PageLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="~/css/home.css" rel="stylesheet" />
</head>
<body>

    
    <section class="showcase">
        <div class="video-container">
            
                <video src="" autoplay muted loop></video>         
        </div>
        <div class="content">
           @foreach (var item in Model)
        {
                <h1>@item.VideoFileName</h1>
        }            
        </div>
    </section>


    <section class="short-about">
        <div data-aos="fade-right">
            @foreach (var item in Model)
        {
            <h1>@item.Tagline</h1>}
        </div>
        <div class="content">
        </div>
    </section>
    <section class="products-section">


        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="cover item-a">
                        <h1>Antalya</h1>
                        <div class="card-back">
                            <a href="#">View detail</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="cover item-b">
                        <h1>Rize</h1>
                        <div class="card-back">
                            <a href="#">View detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="cover item-c">
                        <h1>Mardin</h1>
                        <div class="card-back">
                            <a href="#">View detail</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="cover item-d">
                        <h1>Bolu</h1>
                        <div class="card-back">
                            <a href="#">View detail</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </section>
    <section class="services-section">
        @foreach (var item in Model)
        {
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="service-card">
            
            <div class="service-image">
                
                    <img src="@item.Services1Image" alt="" srcset="">
                

            </div>

            <div class="service-text">@item.Services1Description</div>
        </div>

        <div data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="service-card">
            <div class="service-image">
                <img src="@item.Services2Image" alt="" srcset="">
            </div>

            <div class="service-text">@item.Services2Description</div>
        </div>

        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="service-card">
            <div class="service-image">
                <img src="@item.Services3Image" alt="" srcset="">
            </div>
 
            <div class="service-text">@item.Services3Description</div>
        </div>

        <div data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="service-card">
            <div class="service-image">
                <img src="@item.Services4Image" alt="" srcset="">
            </div>
            <div class="service-text">@item.Services4Description</div>
        </div>
            }
    </section>
    <section class="statistics-section">

        <div class="happy-customer">
            <div class="numbers">
                <h1 id="1">0</h1>
            </div>
            <div class="title-for-numbers">Happy Customer</div>
        </div>

        <div class="happy-customer">
            <div class="numbers">
                <h1 id="2">0</h1>
            </div>
            <div class="title-for-numbers">Happy Customer</div>
        </div>

        <div class="happy-customer">
            <div class="numbers">
                <h1 id="3">0</h1>
            </div>
            <div class="title-for-numbers">Happy Customer</div>
        </div>

        <div class="happy-customer">
            <div class="numbers">
                <h1 id="4">0</h1>
            </div>
            <div class="title-for-numbers">Happy Customer</div>
        </div>

        <script>
                function increment(elem, finalVal) {
              var element = document.getElementById(elem);
              var currVal = parseInt(element.innerHTML, 10);

              if (currVal < finalVal) {
                currVal++;
                element.innerHTML = currVal;

                setTimeout(function() {
                  increment(elem, finalVal);
                }, 40);
              }
            }

            function handleWaypoint(id, finalVal) {
              var offset = '75%'; // Adjust the offset as needed
              var waypointElement = document.getElementById(id);

              function handleScroll() {
                var rect = waypointElement.getBoundingClientRect();
                var isVisible = rect.top < window.innerHeight * 0.75 && rect.bottom >= 0;

                if (isVisible) {
                  increment(id, finalVal);
                  window.removeEventListener('scroll', handleScroll);
                }
              }

              window.addEventListener('scroll', handleScroll);
            }

            handleWaypoint('1', 87);
            handleWaypoint('2', 43);
            handleWaypoint('3', 79);
            handleWaypoint('4', 68);
            handleWaypoint('5', 46);
            handleWaypoint('6', 14);

        </script>

    </section>

    <section class="partners-section">
    </section>


    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        AOS.init();
    </script>
</body>
</html>
