@model ProductDetailPage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductDetailPage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tab1Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tab1Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tab2Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tab2Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tab3Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tab3Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailedDescriptionTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailedDescriptionTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
