@model Promote.website.Models.AboutPage

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <div id="dismissable-alert" class="alert @(TempData["AlertClass"] ?? "") alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $("#dismissable-alert").alert('close');
            }, 5000); // 5000 milisaniye (5 saniye) sonra alert'ı otomatik olarak kapat
        });
    </script>
}
<h1>Edit</h1>

<h4>AboutPage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AboutId" />
            <!-- ImageHeader -->
            <div class="form-group">
                <label asp-for="ImageHeader" class="control-label"></label>
                <p><small style="color: #888; font-size: 14px;">2026 × 648 px boyutlarında bir görsel yükleyiniz.</small> </p>
                <input asp-for="ImageHeader" name="ImageHeader" class="form-control removeValue" type="file" id="imageHeaderInput" onchange="updateFileName('imageHeaderInput', 'imageHeaderName')" style="color:transparent;" />
                <span asp-validation-for="ImageHeader" class="text-danger"></span>
                <small id="imageHeaderName" class="form-text text-muted">@Model.ImageHeader</small>
            </div>

            <!-- ImageBottom -->
            <div class="form-group">
                <label asp-for="ImageBottom" class="control-label"></label>
                <input asp-for="ImageBottom" name="ImageBottom" class="form-control removeValue" type="file" id="imageBottomInput" onchange="updateFileName('imageBottomInput', 'imageBottomName')" style="color:transparent;" />
                <span asp-validation-for="ImageBottom" class="text-danger"></span>
                <small id="imageBottomName" class="form-text text-muted">@Model.ImageBottom</small>
            </div>

            <!-- ImageTop -->
            <div class="form-group">
                <label asp-for="ImageTop" class="control-label"></label>
                <input asp-for="ImageTop" name="ImageTop" class="form-control removeValue" type="file" id="imageTopInput" onchange="updateFileName('imageTopInput', 'imageTopName')" style="color:transparent;" />
                <span asp-validation-for="ImageTop" class="text-danger"></span>
                <small id="imageTopName" class="form-text text-muted">@Model.ImageTop</small>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDescription" class="control-label"></label>
                <input asp-for="CompanyDescription" class="form-control" />
                <span asp-validation-for="CompanyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionTitle" class="control-label"></label>
                <input asp-for="MissionTitle" class="form-control" />
                <span asp-validation-for="MissionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionDescription" class="control-label"></label>
                <input asp-for="MissionDescription" class="form-control" />
                <span asp-validation-for="MissionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionBgColor" class="control-label"></label>
                <input asp-for="MissionBgColor" type="color" class="form-control" />
                <span asp-validation-for="MissionBgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisionTitle" class="control-label"></label>
                <input asp-for="VisionTitle" class="form-control" />
                <span asp-validation-for="VisionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisionDescription" class="control-label"></label>
                <input asp-for="VisionDescription" class="form-control" />
                <span asp-validation-for="VisionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisionBgColor" class="control-label"></label>
                <input asp-for="VisionBgColor" type="color" class="form-control" />
                <span asp-validation-for="VisionBgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUsSectionTitle" class="control-label"></label>
                <input asp-for="WhyUsSectionTitle" class="form-control" />
                <span asp-validation-for="WhyUsSectionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUsSectionBgColor" class="control-label"></label>
                <input asp-for="WhyUsSectionBgColor" type="color" class="form-control" />
                <span asp-validation-for="WhyUsSectionBgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs1Title" class="control-label"></label>
                <input asp-for="WhyUs1Title" class="form-control" />
                <span asp-validation-for="WhyUs1Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs1Description" class="control-label"></label>
                <input asp-for="WhyUs1Description" class="form-control" />
                <span asp-validation-for="WhyUs1Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs1BgColor" class="control-label"></label>
                <input asp-for="WhyUs1BgColor" type="color" class="form-control" />
                <span asp-validation-for="WhyUs1BgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs2Title" class="control-label"></label>
                <input asp-for="WhyUs2Title" class="form-control" />
                <span asp-validation-for="WhyUs2Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs2Description" class="control-label"></label>
                <input asp-for="WhyUs2Description" class="form-control" />
                <span asp-validation-for="WhyUs2Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs2BgColor" class="control-label"></label>
                <input asp-for="WhyUs2BgColor" type="color" class="form-control" />
                <span asp-validation-for="WhyUs2BgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs3Title" class="control-label"></label>
                <input asp-for="WhyUs3Title" class="form-control" />
                <span asp-validation-for="WhyUs3Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs3Description" class="control-label"></label>
                <input asp-for="WhyUs3Description" class="form-control" />
                <span asp-validation-for="WhyUs3Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyUs3BgColor" class="control-label"></label>
                <input asp-for="WhyUs3BgColor" type="color" class="form-control" />
                <span asp-validation-for="WhyUs3BgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function updateFileName(inputId, outputId) {
            var input = document.getElementById(inputId);
            var output = document.getElementById(outputId);
            output.innerText = input.files.length > 0 ? input.files[0].name : "";
            input.nextElementSibling.style.display = "none";  
        }
    </script>
}
