@model IEnumerable<Promote.website.Models.AboutPage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageBottom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageTop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionBgColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisionBgColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUsSectionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUsSectionBgColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUs1Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUs1Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUs1BgColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUs2Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUs2Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUs2BgColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUs3Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUs3Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyUs3BgColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageBottom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageTop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionBgColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisionBgColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUsSectionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUsSectionBgColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUs1Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUs1Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUs1BgColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUs2Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUs2Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUs2BgColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUs3Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUs3Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhyUs3BgColor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AboutId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AboutId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AboutId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
