@model Corporate.PresentationLayer.Models.TourViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="~/css/detail.css" rel="stylesheet" />


</head>
<body>

    <div id="navbar">
        <!--Navbar başlıkları ve linkleri-->
        <a href="home.html" id="logo">
            <img id="logo-image" src="~/Image/touristt-high-resolution-logo-removebg-preview (1).png" alt="logo" style="height: 70px;">
        </a>
        <div id="navbar-right">
            <a href="/Home/Index">Home</a>
            <a href="/Aboutt/Index">About</a>
            <a class="active" href="/Tours/Index/">Tours</a>
            <a href="/İletisim/Index">Contact</a>
        </div>
    </div>

    <section class="banner-section">
        <div class="banner-image-container">
            <img src="~/image/detay.png" alt="Banner Image" />
        </div>

        <div class="content">
            <h1>Details</h1>
            <h4><a href="home.html">Tours</a> > <a href="contact.html">View details</a></h4>
        </div>
    </section>



    <div class="middle">
        <section class="contact-form-section">
            <!--Şehir İsmi ve Şehir Resmi-->
            <div class="form-row">
                <div class="input-data textarea">

                    <img style="padding-block: 3rem;width:100%;" src="~/image/@Model.TourDetail.TourImageFileName" alt=""><!--Şehir resmi ve boyutu-->
                    <br />

                    <br>
                </div>
                <br><br>
            </div>
            <!--buton css !-->


        </section>

        <section class="contact-info-section">

            <h1><strong>@Model.TourDetail.TourName</strong></h1><!--Başlık buraya eklenmeli-->
            <h2><strong>@Model.TourDetail.Fee ₺</strong></h2>
            <br><br>
            <div>
                <p>@Model.TourDetail.Description </p>
            </div>

            <div class="row">
                <nav class="c-tabs" data-toggle="c-tabs" role="navigation">
                    <ul class="c-tab--navigation">
                        <!--Tab slider başlıkları-->
                        <li class="c-tab--item"><a href="#test1" class="active">Hizmetlerimiz</a></li>
                        <li class="c-tab--item"><a href="#test2">Dahil olmayan hizmetler</a></li>
                        <li class="c-tab--item"><a href="#test3">İptal politikası</a></li>
                        <li class="c-tab--slider">
                            <div class="c-tab-indicator"></div>
                        </li>
                    </ul>
                </nav>
                <div class="c-tab--content-container">
                    <!--Tab slider başlık içerikleri-->
                    <div id="test1" class="c-tab--content active">
                        @foreach (var item in Model.Services)
                        {
                            @if (item.TourServiceType.Equals("included"))
                            {
                                <p>- @item.TourServiceDescription</p>
                            }
                        }

                    </div>
                    <div id="test2" class="c-tab--content">
                        @foreach (var item in Model.Services)
                        {
                            @if (item.TourServiceType.Equals("excluded"))
                            {
                                <p>- @item.TourServiceDescription</p>
                            }
                        }
                    </div>
                    <div id="test3" class="c-tab--content">
                        @foreach (var item in Model.Services)
                        {
                            @if (item.TourServiceType.Equals("cancellation"))
                            {
                                <p>- @item.TourServiceDescription</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="contact-info-sections">

        <h1>Gezi Hakkında</h1>

        <!--Hakkında kısmı-->
        <div data-aos="fade-down-right">
            @Model.TourDetail.DetailedDescription
        </div>
        <br><br>

    </section>
    <footer class="footer">
        <div class="container footer-row">
            <!--footer başlıklar-->
            <div class="footer-col">
                <h4>About us</h4>

            </div>
            <div class="footer-col">
                <h4>Tours</h4>

            </div>
            <div class="footer-col">
                <h4>Contact</h4>

            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <!--footer sosyal medya bağlantıları-->
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script>
        // Kullanıcı belgenin üst kısmından 80 piksel aşağı kaydırdığında gezinme çubuğunun dolgusunu ve logonun yazı tipi boyutunu yeniden boyutlandırın
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            // Sayfa yukarı veya aşağı kaydırıldığında çağrılan fonksiyon
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                // Navbar'a stil uygula
                document.getElementById("navbar").style.padding = "0px 10px";
                document.getElementById("logo").style.fontSize = "25px";
                document.getElementById("logo-image").style.height = "70px";
                document.getElementById("navbar").style.backgroundColor = "#212121";
            } else {
                // Navbar'a farklı bir stil uygula
                document.getElementById("navbar").style.padding = "40px 50px";
                document.getElementById("logo").style.fontSize = "35px";

                document.getElementById("navbar").style.backgroundColor = "transparent";
                document.getElementById("navbar").style.opacity = "0.5";
                document.getElementById("logo-image").style.height = "100px";
            }
            $(function () {
                // Her bir '.c-tab--navigation' sınıfına sahip öğe için döngü
                $('.c-tab--navigation').each(function (element) {

                    var slider_width,
                        tab_width,
                        left_position,
                        $active,
                        $content,
                        $links = $(this).find('a'),
                        $currentTab = $(this).find('a.active'),
                        $indicator = $(this).find('.c-tab-indicator');
                    // Eğer varsayılan olarak bir tab seçiliyse
                    if ($currentTab.hasClass('active')) {
                        slider_width = $('.c-tab--slider').innerWidth();
                        tab_width = $currentTab.innerWidth();
                        // var $tab_position = $slider_width - tab_width;
                        left_position = $currentTab.position().left;
                        $indicator.css({ 'width': tab_width + 'px', 'left': left_position + 'px' });
                    }
                    // Aktif sekme ve içeriği belirleme
                    $active = $($links.filter('[href="' + location.hash + '"]')[0] || $links[0]);
                    $active.addClass('active');
                    $content = $($active[0].hash);
                    // Aktif olmayan linkleri gizleme
                    $links.not($active).each(function () {
                        $(this.hash).hide();
                    });

                    // Click olayı için olay işleyicisini bağlama
                    $(this).on('click', 'a', function (e) {
                        $active.removeClass('active');
                        $content.hide();

                        $active = $(this);
                        $content = $(this.hash);

                        $active.addClass('active');
                        $content.show();
                        // Slider'ın hareket etmesi
                        moveSlider($active);
                        // Ripple efekti eklenmesi
                        addRipple(e);
                        e.preventDefault();
                    });
                });
            });

            // Slider'ı hareket ettiren fonksiyon
            function moveSlider($tab_clicked) {
                var $new_tab = $tab_clicked;
                var $tab_parent = $new_tab.parent();
                var $list_parent = $tab_parent.parent();
                var $indicator = $list_parent.find('.c-tab--slider').children();
                var new_tab_width = $new_tab.innerWidth();
                var left_position = $new_tab.position().left;

                $indicator.css({ 'width': new_tab_width + 'px', 'left': left_position + 'px' });
            }
            // Ripple efekti ekleyen fonksiyon
            function addRipple(e) {
                var target = e.target;
                var targetPosition = target.getBoundingClientRect(),
                    offsetX = e.clientX - targetPosition.left,
                    offsetY = e.clientY - targetPosition.top;
                var top = offsetY;
                var left = offsetX;
                var timeout = null;
                var ripple = document.createElement('span');
                var styleString = 'top:calc(' + top + 'px - .5em); left:calc(' + left + 'px - .5em);';

                target.appendChild(ripple);
                ripple.setAttribute("style", styleString);
                ripple.classList.add('-ripple');
                timeout = setTimeout(function () {
                    ripple.parentNode.removeChild(ripple);
                }, 5000);
            }
        }
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        AOS.init();
    </script>
</body>
</html>   