@model Promote.website.Models.Layout

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <div id="dismissable-alert" class="alert @(TempData["AlertClass"] ?? "") alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $("#dismissable-alert").alert('close');
            }, 5000); // 5000 milisaniye (5 saniye) sonra alert'ı otomatik olarak kapat
        });
    </script>
}
<h1>Edit</h1>

<h4>Layout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LogoPath" class="control-label"></label>
                <input asp-for="LogoPath" name="LogoPath" type="file" class="form-control removeValue" onchange="updateFileName('logoFileInput', 'logoFileName')" style="color: transparent;" />
                <span asp-validation-for="LogoPath" class="text-danger"></span>
                <small id="logoFileName" class="form-text text-muted">@Model.LogoPath</small>
            </div>
            <div class="form-group">
                <label asp-for="FooterColor" class="control-label"></label>
                <input asp-for="FooterColor" class="form-control"  type="color"/>
                <span asp-validation-for="FooterColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighlightColor" class="control-label"></label>
                <input asp-for="HighlightColor" class="form-control" type="color" />
                <span asp-validation-for="HighlightColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia1Link" class="control-label"></label>
                <input asp-for="SocialMedia1Link" class="form-control" />
                <span asp-validation-for="SocialMedia1Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia1Icon" class="control-label"></label>
                <input asp-for="SocialMedia1Icon" name="SocialMedia1Icon" type="file" class="form-control removeValue" onchange="updateFileName('socialMedia1IconInput', 'socialMedia1IconName')" style="color: transparent;" />
                <span asp-validation-for="SocialMedia1Icon" class="text-danger"></span>
                <small id="socialMedia1IconName" class="form-text text-muted">@Model.SocialMedia1Icon</small>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia2Link" class="control-label"></label>
                <input asp-for="SocialMedia2Link" class="form-control" />
                <span asp-validation-for="SocialMedia2Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia2Icon" class="control-label"></label>
                <input asp-for="SocialMedia2Icon" name="SocialMedia2Icon" type="file" class="form-control removeValue" onchange="updateFileName('socialMedia2IconInput', 'socialMedia2IconName')" style="color: transparent;" />
                <span asp-validation-for="SocialMedia2Icon" class="text-danger"></span>
                <small id="socialMedia2IconName" class="form-text text-muted">@Model.SocialMedia2Icon</small>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia3Link" class="control-label"></label>
                <input asp-for="SocialMedia3Link" class="form-control" />
                <span asp-validation-for="SocialMedia3Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia3Icon" class="control-label"></label>
                <input asp-for="SocialMedia3Icon" name="SocialMedia3Icon" type="file" class="form-control removeValue" onchange="updateFileName('socialMedia3IconInput', 'socialMedia3IconName')" style="color: transparent;" />
                <span asp-validation-for="SocialMedia3Icon" class="text-danger"></span>
                <small id="socialMedia3IconName" class="form-text text-muted">@Model.SocialMedia3Icon</small>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia4Link" class="control-label"></label>
                <input asp-for="SocialMedia4Link" class="form-control" />
                <span asp-validation-for="SocialMedia4Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia4Icon" class="control-label"></label>
                <input asp-for="SocialMedia4Icon" name="SocialMedia4Icon" type="file" class="form-control removeValue" onchange="updateFileName('socialMedia4IconInput', 'socialMedia4IconName')" style="color: transparent;" />
                <span asp-validation-for="SocialMedia4Icon" class="text-danger"></span>
                <small id="socialMedia4IconName" class="form-text text-muted">@Model.SocialMedia4Icon</small>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia5Link" class="control-label"></label>
                <input asp-for="SocialMedia5Link" class="form-control" />
                <span asp-validation-for="SocialMedia5Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia5Icon" class="control-label"></label>
                <input asp-for="SocialMedia5Icon" name="SocialMedia5Icon" type="file" class="form-control removeValue" onchange="updateFileName('socialMedia5IconInput', 'socialMedia5IconName')" style="color: transparent;" />
                <span asp-validation-for="SocialMedia5Icon" class="text-danger"></span>
                <small id="socialMedia5IconName" class="form-text text-muted">@Model.SocialMedia5Icon</small>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function updateFileName(inputId, outputId) {
            var input = document.getElementById(inputId);
            var output = document.getElementById(outputId);
            output.innerText = input.files.length > 0 ? input.files[0].name : "";
            input.nextElementSibling.style.display = "none";
        }
    </script>
}