@model IEnumerable<Promote.website.Models.Layout>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighlightColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMedia1Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMedia1Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMedia2Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMedia2Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMedia3Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMedia3Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMedia4Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMedia4Icon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogoPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighlightColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia1Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia1Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia2Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia2Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia3Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia3Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia4Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia4Icon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
