<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="~/css/home.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <div id="navbar">
        @* <a href="home.html" id="logo">
            <img id="logo-image" src="~/image/touristt-high-resolution-logo-removebg-preview (1).png" alt="logo" style="height: 70px;">
        </a> *@
        <a href="home.html" id="logo">
            @if (ViewBag.Layout != null)
            {
                <img id="logo-image" src="~/LayoutMedia/@ViewBag.Layout.LogoPath" alt="logo" style="height: 70px;">
            }
        </a>
        @* <div id="navbar-right">
            <a href="/Home/Index">Home</a>
            <a href="/About/Index">About</a>
            <a href="/ProductPages/ProductListPage">Products</a>
            <a href="/Contact/Index">Contact</a>

        </div> *@
        <div id="navbar-right">
            @if (ViewBag.Sublinks != null)
            {
                foreach (var sublink in ViewBag.Sublinks)
                {
                    <a href="@sublink.PagePath">@sublink.PageName</a>
                }
            }
        </div>
    </div>

    @RenderBody()

    <footer class="footer" style="background-color:@ViewBag.Layout.FooterColor;">
        <div class="container footer-row">
            <div class="footer-col">
                <h4>About us</h4>
                @if (ViewBag.Sublinks != null)
                {
                    foreach (var sublink in ViewBag.Sublinks)
                    {
                        <a href="@sublink.PageName">@sublink.PageName</a>
                    }
                }
            </div>

            <div class="footer-col">
                <h4>Products</h4>

            </div>
            <div class="footer-col">
                <h4>Contact</h4>

            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a id="link1" href="@ViewBag.Layout.SocialMedia1Link" target="_blank"></a>
                    <a id="link2" href="@ViewBag.Layout.SocialMedia2Link"target="_blank"></a>
                    <a id="link3" href="@ViewBag.Layout.SocialMedia3Link" target="_blank"></a>
                    <a id="link4" href="@ViewBag.Layout.SocialMedia4Link" target="_blank"></a>
                </div>
            </div>
        </div>
    </footer>
    <style>
        .footer-col h4::before {
            background-color: @ViewBag.Layout.HighlightColor;
        }

        #navbar a.active {
            border-bottom: solid @ViewBag.Layout.HighlightColor; 
        }
         
        #navbar a { 
            border-radius: 0px;  
        }
        #link1{
            background-image: url('../LayoutMedia/@ViewBag.Layout.SocialMedia1Icon');
            background-size: cover;
        }
        #link2{
            background-image: url('../LayoutMedia/@ViewBag.Layout.SocialMedia2Icon');
            background-size: cover;
        }

        #link3{
            background-image: url('../LayoutMedia/@ViewBag.Layout.SocialMedia3Icon');
            background-size: cover;
        }

        #link4 {
            background-image: url('../LayoutMedia/@ViewBag.Layout.SocialMedia4Icon');
            background-size: cover;
        }
    </style>
    <script>
        // Sayfa yüklendiğinde çalışacak fonksiyon
        document.addEventListener('DOMContentLoaded', function () {
            // Aktif linki belirlemek için sayfanın URL'sini al
            var currentPageUrl = window.location.pathname;

            // Navbar içindeki linkleri seç
            var navLinks = document.querySelectorAll('#navbar-right a');

            // Her bir link için kontrol yap
            navLinks.forEach(function (link) {
                // Linkin href özelliğini al
                var linkUrl = link.getAttribute('href');

                // Eğer linkin href özelliği ve sayfanın URL'si eşleşiyorsa
                if (currentPageUrl.startsWith(linkUrl)) {
                    // Aktif sınıfı ekle
                    link.classList.add('active');
                }
            });
        });
    </script>

    <script>
        // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("navbar").style.padding = "0px 10px";
                document.getElementById("logo").style.fontSize = "25px";
                document.getElementById("logo-image").style.height = "70px";
                document.getElementById("navbar").style.backgroundColor = "#212121";
            } else {
                document.getElementById("navbar").style.padding = "40px 50px";
                document.getElementById("logo").style.fontSize = "35px";

                document.getElementById("navbar").style.backgroundColor = "transparent";
                document.getElementById("navbar").style.opacity = "0.5";
                document.getElementById("logo-image").style.height = "100px";
            }
        }
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        AOS.init();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
