<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="~/css/home.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <div id="navbar">

        <a href="/Home/Index/" id="logo">
            @if (ViewBag.Layout != null)
            {
                <img id="logo-image" src="~/LayoutMedia/@ViewBag.Layout.LogoPath" alt="logo" style="height: 70px;">
            }
        </a>
        <div id="navbar-right">


            <style>
                .dropdown-content a:hover {
                    scale: none !important;
                    letter-spacing: 1px !important;
                }
                body { 
                    line-height: 1.5 !important;
                    overflow-x: hidden !important;
                }
                #navbar #navbar-right ul {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }

                li a, .dropbtn {
                    display: inline-block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }


                li.dropdown {
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    min-width: 120px;
                    z-index: 1;
                }

                    .dropdown-content a {
                        color: black;
                        padding: 5px 10px;
                        text-decoration: none;
                        display: block;
                        text-align: left;
                        border-bottom: 0px !important;
                    }


                .dropdown:hover .dropdown-content {
                    display: flex;
                    flex-direction: column;
                }

                @@media screen and (max-width: 580px) {
                    .dropdown-content {
                        margin-block-start: 0rem !important;
                    }
                     

                    .footer-col .footer-links a {
                        font-size: smaller !important;
                    }

                    .footer-col h4::before {
                        bottom: -17px !important;
                    }

                    img#logo-image {
                        height: 75px !important;
                    }
                }
                @@media (max-width: 767px)
                    .footer-col { 
                        margin-bottom: 30px !important;
                    }
                 }
            </style>
            <ul>


                @if (ViewBag.Sublinks != null)
                {
                    var homeSublinks = ((IEnumerable<Sublink>)ViewBag.Sublinks).Where(sublink => sublink.PagePath.StartsWith("/Home/")).ToList();

                    if (homeSublinks.Count > 1)
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn linktitle1">Home</a>
                            <div class="dropdown-content">
                                @foreach (var sublink in homeSublinks)
                                {
                                    <a href="@sublink.PagePath">@sublink.PageName</a>
                                }
                            </div>
                        </li>
                    }
                    else if (homeSublinks.Count == 1)
                    {
                        var singleHomeSublink = homeSublinks.First();
                        <li>
                            <a href="@singleHomeSublink.PagePath" class="linktitle1">@singleHomeSublink.PageName</a>
                        </li>
                    }
                }



                @if (ViewBag.Sublinks != null)
                {
                    var aboutSublinks = ((IEnumerable<Sublink>)ViewBag.Sublinks).Where(sublink => sublink.PagePath.StartsWith("/About/")).ToList();

                    if (aboutSublinks.Count > 1)
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn linktitle2">About</a>
                            <div class="dropdown-content">
                                @foreach (var sublink in aboutSublinks)
                                {
                                    <a href="@sublink.PagePath">@sublink.PageName</a>
                                }
                            </div>
                        </li>
                    }
                    else if (aboutSublinks.Count == 1)
                    {
                        var singleAboutSublink = aboutSublinks.First();
                        <li>
                            <a href="@singleAboutSublink.PagePath" class="linktitle2">@singleAboutSublink.PageName</a>
                        </li>
                    }
                }
                @if (ViewBag.Sublinks != null)
                {
                    var productSublinks = ((IEnumerable<Sublink>)ViewBag.Sublinks).Where(sublink => sublink.PagePath.StartsWith("/ProductPages/")).ToList();

                    if (productSublinks.Count > 1)
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn linktitle3">Products</a>
                            <div class="dropdown-content">
                                @foreach (var sublink in productSublinks)
                                {
                                    <a href="@sublink.PagePath">@sublink.PageName</a>
                                }
                            </div>
                        </li>
                    }
                    else if (productSublinks.Count == 1)
                    {
                        var singleProductSublink = productSublinks.First();
                        <li>
                            <a href="@singleProductSublink.PagePath" class="linktitle3">@singleProductSublink.PageName</a>
                        </li>
                    }
                }
                @if (ViewBag.Sublinks != null)
                {
                    var contactSublinks = ((IEnumerable<Sublink>)ViewBag.Sublinks).Where(sublink => sublink.PagePath.StartsWith("/Contact/")).ToList();

                    if (contactSublinks.Count > 1)
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn linktitle4">Contact</a>
                            <div class="dropdown-content">
                                @foreach (var sublink in contactSublinks)
                                {
                                    <a href="@sublink.PagePath">@sublink.PageName</a>
                                }
                            </div>
                        </li>
                    }
                    else if (contactSublinks.Count == 1)
                    {
                        var singleContactSublink = contactSublinks.First();
                        <li>
                            <a href="@singleContactSublink.PagePath" class="linktitle4">@singleContactSublink.PageName</a>
                        </li>
                    }
                }

            </ul>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var navbar = document.getElementById('navbar');
                    var dropdownItems = navbar.querySelectorAll('.dropdown');

                    dropdownItems.forEach(function (dropdown) {
                        dropdown.addEventListener('mouseenter', function () {
                            var dropdownContent = this.querySelector('.dropdown-content'); 
                            dropdownContent.style.display = 'flex'; 
                            dropdownContent.style.flexDirection = 'column !important'; 
                            var highlightColor = '@(ViewBag.Layout != null ? ViewBag.Layout.HighlightColor : "red")';
                            dropdownContent.style.backgroundColor = highlightColor;
                            dropdownContent.style.marginBlockStart = '3rem'; 
                            navbar.style.overflow = 'visible';
                        });

                        dropdown.addEventListener('mouseleave', function () {
                            var dropdownContent = this.querySelector('.dropdown-content'); 
                            dropdownContent.style.display = 'none'; 
                            dropdownContent.style.marginBlockStart = '0';
                        });
                    });
                });
            </script>
        </div>





    </div>
   


    @RenderBody()

    <footer class="footer" style="background-color: @(ViewBag.Layout != null && ViewBag.Layout.FooterColor != null ? ViewBag.Layout.FooterColor : "black")">
        
        <div class="container footer-row">
            <div class="footer-col">
                <h4>About</h4>
                <div class="footer-links">
                    @if (ViewBag.Sublinks != null)
                    {
                        foreach (var sublink in ViewBag.Sublinks)
                        {
                            if (sublink.PagePath.StartsWith("/About/"))
                            {
                                <a href="@sublink.PagePath">@sublink.PageName</a>
                            }

                        }
                    }
                </div>

            </div>

            <div class="footer-col">
                <h4>Products</h4>
                <div class="footer-links">
                    @if (ViewBag.Sublinks != null)
                    {
                        foreach (var sublink in ViewBag.Sublinks)
                        {
                            if (sublink.PagePath.StartsWith("/ProductPages/"))
                            {
                                <a href="@sublink.PagePath">@sublink.PageName</a>
                            }

                        }
                    }
                </div>


            </div>
            <div class="footer-col">
                <h4>Contact</h4>
                <div class="footer-links">
                    @if (ViewBag.Sublinks != null)
                    {
                        foreach (var sublink in ViewBag.Sublinks)
                        {
                            if (sublink.PagePath.StartsWith("/Contact/"))
                            {
                                <a href="@sublink.PagePath">@sublink.PageName</a>
                            }

                        }
                    }
                </div>

            </div>
            <div class="footer-col">
                <h4>follow us</h4>
               @*  <div class="social-links">
                    <a id="link1" href="@((ViewBag.Layout != null && ViewBag.Layout.SocialMedia1Link != null) ? ViewBag.Layout.SocialMedia1Link : "#")" target="_blank"></a>
                    <a id="link2" href="@((ViewBag.Layout != null && ViewBag.Layout.SocialMedia2Link != null) ? ViewBag.Layout.SocialMedia2Link : "#")" target="_blank"></a>
                    <a id="link3" href="@((ViewBag.Layout != null && ViewBag.Layout.SocialMedia3Link != null) ? ViewBag.Layout.SocialMedia3Link : "#")" target="_blank"></a>
                    <a id="link4" href="@((ViewBag.Layout != null && ViewBag.Layout.SocialMedia4Link != null) ? ViewBag.Layout.SocialMedia4Link : "#")" target="_blank"></a> 
                </div> *@

                @functions {
                    public void CreateSocialLink(string linkId, string link)
                    {
                        if (link != null || link.Equals("."))
                        {
                                <a id="@linkId" href="@link" target="_blank"></a>
                        }
                    }
                }

                <div class="social-links">
                    @if (ViewBag.Layout != null)
                    {
                        CreateSocialLink("link1", ViewBag.Layout.SocialMedia1Link);
                        CreateSocialLink("link2", ViewBag.Layout.SocialMedia2Link);
                        CreateSocialLink("link3", ViewBag.Layout.SocialMedia3Link);
                        CreateSocialLink("link4", ViewBag.Layout.SocialMedia4Link);
                        CreateSocialLink("link5", ViewBag.Layout.SocialMedia5Link);
                    }
                </div>

            </div>
        </div>
        <style>
            .documents {
                padding: 1.25rem;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                max-width: ;
                min-width: 50%;
                flex-direction: row;
                justify-content: flex-end;
            }

            .footer {
                
                padding-bottom: 0px;
            }
            @@media (max-width: 840px) {
                .footer p { 
                    font-size: 10px ;
                }

                .documents {
                    font-size: 10px !important;
                }
            }

            @@media (max-width: 638px) {
                .footer p {
                    font-size: 8px ;
                }

                .documents {
                    font-size: 8px !important;
                }
            }
        </style>
        <div style="display:flex;flex-wrap:wrap;flex-direction:row;justify-content: space-between;margin-top:50px;">
            <div style="display:flex;align-content:center;">
                <p style="color:white;padding:1rem;">@DateTime.Now.Year Copyright &copy; Company Name </p>
            </div>
            @if (ViewBag.relDocuments != null)
            {
                
                <div class="documents">

                    @foreach (var item in ViewBag.relDocuments)
                    {
                        <a style="font-size:smaller;" href="@((item.Content != null) ? Url.Content("~/RelevantDocuments/" + item.Content) : "#")" target="_blank">@item.Title</a>
                    }
                </div>
            }


            


        </div>
      
        

    </footer>
    <style>
        .footer-col .footer-links {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }

            .footer-col .footer-links a {
                color: white !important;
            }

                .footer-col .footer-links a:hover {
                    color: @(ViewBag.Layout != null && ViewBag.Layout.HighlightColor != null ? ViewBag.Layout.HighlightColor : "red") !important;
                }

        .footer-col h4::before {
            background-color: @(ViewBag.Layout != null && ViewBag.Layout.HighlightColor != null ? ViewBag.Layout.HighlightColor : "red") !important;
        }

        #navbar a.active {
            border-bottom: solid @(ViewBag.Layout != null && ViewBag.Layout.HighlightColor != null ? ViewBag.Layout.HighlightColor : "red");
        }

        #navbar a {
            border-radius: 0px;
        }

        #link1 {
            background-image: url('@(ViewBag.Layout != null && ViewBag.Layout.SocialMedia1Icon != null ? "../../LayoutMedia/" + ViewBag.Layout.SocialMedia1Icon : "")');
            background-size: cover;
        }

        #link2 {
            background-image: url('@(ViewBag.Layout != null && ViewBag.Layout.SocialMedia2Icon != null ? "../../LayoutMedia/" + ViewBag.Layout.SocialMedia2Icon : "")');
            background-size: cover;
        }

        #link3 {
            background-image: url('@(ViewBag.Layout != null && ViewBag.Layout.SocialMedia3Icon != null ? "../../LayoutMedia/" + ViewBag.Layout.SocialMedia3Icon : "")');
            background-size: cover;
        }

        #link4 {
            background-image: url('@(ViewBag.Layout != null && ViewBag.Layout.SocialMedia4Icon != null ? "../../LayoutMedia/" + ViewBag.Layout.SocialMedia4Icon : "")');
            background-size: cover;
        }

        #link5 {
            background-image: url('@(ViewBag.Layout != null && ViewBag.Layout.SocialMedia5Icon != null ? "../../LayoutMedia/" + ViewBag.Layout.SocialMedia5Icon : "")');
            background-size: cover;
        }
    </style>

        
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentPageUrl = window.location.pathname;

            // Home link title
            var linkTitle1 = document.querySelector('.linktitle1');
            if (linkTitle1 && currentPageUrl.startsWith("/Home/")) {
                linkTitle1.classList.add('active');
            }

            // About link title
            var linkTitle2 = document.querySelector('.linktitle2');
            if (linkTitle2 && currentPageUrl.startsWith("/About/")) {
                linkTitle2.classList.add('active');
            }

            // Products link title
            var linkTitle3 = document.querySelector('.linktitle3');
            if (linkTitle3 && currentPageUrl.startsWith("/ProductPages/")) {
                linkTitle3.classList.add('active');
            }

            // Contact link title
            var linkTitle4 = document.querySelector('.linktitle4');
            if (linkTitle4 && currentPageUrl.startsWith("/Contact/")) {
                linkTitle4.classList.add('active');
            }
        });
    </script>


     

    <script> 
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("navbar").style.padding = "0px 10px";
                document.getElementById("logo").style.fontSize = "25px";
                document.getElementById("logo-image").style.height = "70px";
                document.getElementById("navbar").style.backgroundColor = "#212121";
            } else {
                document.getElementById("navbar").style.padding = "40px 50px";
                document.getElementById("logo").style.fontSize = "35px";

                document.getElementById("navbar").style.backgroundColor = "transparent";
                document.getElementById("navbar").style.opacity = "0.5";
                document.getElementById("logo-image").style.height = "100px";
            }
        }
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        AOS.init();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
