@model Promote.website.Models.ContactPage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ContactPage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfoTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactInfoTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfoDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactInfoDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapIframeUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapIframeUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactPageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
