@model IEnumerable<Promote.website.Models.ContactPage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInfoTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInfoDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapIframeUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInfoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInfoDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapIframeUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactPageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContactPageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactPageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
